#main {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
}

.task-container {
  width: 90%;
  height: 25vh;
  background-color: rgb(188, 169, 169);
  border-radius: 1rem;
  padding: 1rem;
  border-left: 0.7rem solid rgb(210, 46, 46);
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  overflow: auto;
}

.task-btn-container {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.task-btn-container > .project-title {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: black;
}

.project-title {
  font-size: 2rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
}

.task-title {
  font-size: 2rem;
}

.btn-container {
  display: flex;
  gap: 0.5rem;
}
