#main {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
}

.task-container {
  width: 90%;
  height: 25vh;
  background-color: #1f2937;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  overflow: auto;
}

.task-btn-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 1rem;
}

.task-btn-container > button {
  border-radius: 1rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  color: white;
}

.task-btn-container > .project-title {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: white;
}

.project-title {
  font-size: 2rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
}

.task-title {
  font-size: 2rem;
}

.btn-container {
  display: flex;
  gap: 0.5rem;
}
